@model ListOfUsersViewModel

@{ 
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    ViewBag.Title = "DashBoard";
}


<a asp-controller="Admin" asp-action="ListOfUsers" asp-route-userId="@Model.user.UserId">ListOfUser</a>
